@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

html{
    transition: var(--trasition);
    scroll-behavior: smooth;
}

:root{
    --font-one:'Ubuntu', sans-serif;
    --principal-color: #d61f99;
    --trasition: all ease .3s;
    --second-color: #f9004d;
    --tercer-color: #191919;
    --color-texto-main: rgb(228, 178, 227);
    --font-two: 'Fira Sans', sans-serif;
    --font-three: 'Josefin Sans', sans-serif;
}
.parteMain {
    background: var(--tercer-color);
}
.parteMain .contenedor-parte{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    height: 100vh;
    margin: auto;
}
.parteMain .contenedor-parte img {
     margin-top: 90px;
     height: 720px;
     opacity: 0;
}
.parteMain .contenedor-parte img.view {
    opacity: 1;
    transition: all ease-in-out .5s;
}
.parteMain .contenedor-parte .contenido-parteMain {
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 30px;
}
.parteMain .contenedor-parte .contenido-parteMain h2 {
    font-size: 100px;
    color: white;
    font-family: var(--font-three);
}

.parteMain .contenedor-parte .contenido-parteMain span strong {
    font-weight: 300px;
    color: var(--second-color);
    font-family: var(--font-three);
    font-weight: bold;
}

.parteMain .contenedor-parte .contenido-parteMain span{
    color: white;
    font-size: 30px;
    font-family: var(--font-three);
    font-weight: bold;
}
.parteMain .contenedor-parte .contenido-parteMain p.texto-main {
    color: var(--color-texto-main);
    width: 550px;
    font-size: 22px;
    font-family: var(--font-three);
    font-weight: 300px;
}

.parteMain .contenedor-parte .contenido-parteMain button {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    background-color: var(--second-color);
    color: white;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    transition: var(--trasition);
}

.parteMain .contenedor-parte .contenido-parteMain button:hover {
    color: var(--second-color);
    background-color: white;
}

.parteMain .contenedor-parte .contenido-parteMain .botones button#btn {
    margin-left: 20px;
}
